@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HotelReservationsManager;
@using HotelReservationsManager.Controllers;
@using HotelReservationsManager.Controllers.Models;

@model ReservationDashboardRegulatedViewModel

<a asp-action="ManageRooms" asp-controller="Home">See rooms</a>

@if (Model.errorMessage != "")
{
    <br><p>@Model.errorMessage</p>
}

<div class="row">
    <div class="col-md-4" id="id1">
        <form asp-action="MakeReservation2" class="id1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="roomNumber" class="control-label"></label>
                <input asp-for="roomNumber" class="form-control" />
                <span asp-validation-for="roomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateStart" class="control-label"></label>
                <input asp-for="dateStart" class="form-control" />
                <span asp-validation-for="dateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateEnd" class="control-label"></label>
                <input asp-for="dateEnd" class="form-control" />
                <span asp-validation-for="dateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="breakfast" class="control-label"></label>
                <input asp-for="breakfast" class="form-control" />
                <span asp-validation-for="breakfast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="allInclusive" class="control-label"></label>
                <input asp-for="allInclusive" class="form-control" />
                <span asp-validation-for="allInclusive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="clientsCnt" type="hidden" class="form-control" />
            </div>

            <br> </br>
            @for (int i = 0; i < Model.clientsCnt; i++)
            {
                <b>Client number @(i+1):</b>
                <div class="form-group">
                    <label asp-for="clients[i].firstName" class="control-label"></label>
                    <input asp-for="clients[i].firstName" class="form-control" />
                    <span asp-validation-for="clients[i].firstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="clients[i].lastName" class="control-label"></label>
                    <input asp-for="clients[i].lastName" class="form-control" />
                    <span asp-validation-for="clients[i].lastName" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>


<!--

<a asp-action="Dashboard" asp-controller="Home"> Go back to the Dashboard </a>
    -->
</br>
<input type="button" value="Go back to the Dashboard" onclick="location.href='@Url.Action("Dashboard", "Home")'" />

